@using BreadSpread.Models
@model IEnumerable<BreadSpread.Models.Produto>
@{
    Layout = null;
}


    <div class="index-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">
            Produtos
        </h1>
        <p class="lead">
            A BreadSpread tem ao seu dispor um conjunto de produtos com a melhor qualidade do mercado.
        </p>
    </div>
    <!-- Lista de produtos-->
    <div class="container">
        <div class="card-deck mb-3 text-center">
            @foreach (var item in Model)
            {
                <div class="card mb-4 box-shadow">
                    <img alt="" class="card-img-top" src="~/images/bakery.jpg">
                    <div class="card-body">
                        <h4 class="card-title" data-toggle="modal" data-target="#pao" aria-hidden="true">
                            @item.designacao
                        </h4>
                        <!-- Modall -->
                        <div class="modal fade" id="pao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"> @item.designacao </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    @{
                                        var quant = 0;
                                        Produto prod = item;
                                    }
                                    <div class="modal-body">
                                        <img class="card-img-top" src="~/images/bakery.jpg">
                                        @item.ingredientes
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        @Html.ActionLink("Adicionar ao carrinho", "AdicionarProduto", new {produto = prod, quantidade = 1}, new {@class = "btn btn-primary"})
                                        <!--button type="button" class="btn btn-primary">Adicionar ao Carrinho</button-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            @Html.TextBoxFor(model => quant, new {@class = "form-control text-center ml-2", placeholder = "Quant", type = "text"})
                            <div class="input-group-append">
                                @Html.ActionLink("Adicionar ao carrinho", "AdicionarProduto", new {produto = prod, quantidade = quant}, new {@class = "btn btn-primary"})
                            </div>
                            <!--input class="col-2 form-control text-center ml-2" value="2"-->
                            <!--button class="col-9 btn btn-block btn-primary" type="button">
                            Adicionar ao carrinho
                            </button-->

                        </div>
                    </div>
                </div>


            }
        </div>
        </div>
        <!--<div class="card mb-4 box-shadow">
                <img alt="" class="card-img-top" src="~/images/bakery.jpg">
                <div class="card-body">
                    <h1 class="card-title">
                        Pão
                    </h1>
                    <div class="row justify-content-center">
                        <input class="col-2 form-control text-center ml-2" value="2">
                        <button class="col-9 btn btn-block btn-primary" type="button">
                            Adicionar ao carrinho
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </div>-->
        