@model BreadSpread.Models.Produto

@{
	ViewBag.Title = "Delete";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Remover</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div >
						<div class="panel-body">
							<h2>Tem a certeza que quer remover "@Html.DisplayFor(model => model.designacao)" da lista de produtos?</h2>
							<div>
								<hr />
								<dl class="dl-horizontal">
									<dt>
										@Html.DisplayNameFor(model => model.ingredientes)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.ingredientes)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.infoNutricional)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.infoNutricional)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.preco)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.preco)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.imagem)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.imagem)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.peso)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.peso)
									</dd>

								</dl>

								@using (Html.BeginForm())
		{
						@Html.AntiForgeryToken()

						<div class="form-actions no-color">
							<input type="submit" value="Eliminar" class="btn btn-lg btn-danger" />
							@Html.ActionLink("Voltar", "IndexProduto",null, new { @class = "btn btn-lg btn-primary" })
						</div>
}
							</div>


						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>

		</div>
		<!-- /#page-wrapper -->

