@model BreadSpread.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infoNutricional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infoNutricional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
