@model BreadSpread.Models.Cliente
@{
    Layout = "~/Views/Shared/_BreadstrapONLayout.cshtml";
}

        <div class="container">
            <div class="col-xs-12 col-sm-12 col-xs-offset-0 topadd" style="padding-top: 60px;">
                <div class="panel panel-info">
                    @using (Html.BeginForm("EditPerfil", "Manutencao", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel-heading">
                            <h3 class="panel-title">Perfil de Utilizador</h3>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.idCli)
                        @Html.HiddenFor(model => model.password)
                        @Html.HiddenFor(model => model.estadoConta)
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3" align="center">
                                    <img src="~/images/profile.png" class="img-circle" style="height: 200px">
                                    <h3 class="panel-title">@Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })</h3>
                                    @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-9 col-lg-9">
                                    <table class="table table-user-information">

                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor( model => model.sexo, new SelectList(
                                                                        new List<Object>{
                                                                            new { value = "Masculino" , text = "Masculino"  },
                                                                            new { value = "Feminino" , text = "Feminino" },
                                                                            },
                                                                        "value",
                                                                        "text"),
                                                                    new { @class = "form-control", type = "sexo" })
                                                    @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.dataNasc, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.dataNasc, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.dataNasc, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.rua, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.rua, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.rua, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.freguesia, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.freguesia, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.freguesia, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.cidade, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.cidade, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.codPostal, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.codPostal, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.codPostal, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.numPorta, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.numPorta, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.numPorta, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.contacto, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.contacto, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.contacto, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.NIF, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.NIF, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.NIF, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="hidden" name="idCli" value=@Model.idCli />
                                                    <input type="hidden" name="estado" value="ativo" />
                                                    <input type="hidden" name="password" value=@Model.password />
                                                    <input type="submit" value="Alterar" class="btn btn-success" />
                                                    @Html.ActionLink("Voltar", "Perfil", null, new { @class = "btn btn-primary" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                    }
            </div>
        </div>
    </div>



			