@model IEnumerable<BreadSpread.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.designacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingredientes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.infoNutricional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.designacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingredientes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.infoNutricional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProd }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProd }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProd })
        </td>
    </tr>
}

</table>
