@model BreadSpread.Models.Cliente
    @{
        Layout = null;
    }

    <!DOCTYPE html>
    <!-- saved from url=(0051)https://getbootstrap.com/docs/4.0/examples/pricing/ -->
    <html lang="pt">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <link href="~/images/logo.png" rel="icon">
        <title>Perfil</title>

        <!-- Bootstrap core CSS
        <link href="./bootstrap_files/bootstrap.min.css" rel="stylesheet">-->
        <!--using online bootstrap-->
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="~/Content/main.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body cz-shortcut-listen="true">
        <!-- NAVBAR -->
        <div class="fixed-top d-flex flex-column flex-sm-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow justify-content-between">
            <h5 class="my-0 font-weight-normal">
                <a class="text-dark" href="/Home/Index">
                    BreadSpread
                </a>
            </h5>
            <nav class="my-2 my-md-0 ">
                <a class="p-2 text-dark" href="/Home/Produtos">
                    Produtos
                </a>
                <a class="p-2 text-dark" href="/Subscricao/Index">
                    Serviços
                </a>
                <a class="p-2 text-dark" href="/Home/ComoFunciona">
                    Como Funciona
                </a>
                <a class="dropdown">
                    <a aria-haspopup="true" class="p-2 text-dark dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuButton">
                        Conta
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            Perfil Utilizador
                        </a>
                        <a class="dropdown-item" href="cart.html">
                            Carrinho de Compras
                        </a>
                        <a class="divider">
                        </a>
                        <a class="dropdown-item" href="index.html">
                            Logout
                        </a>
                    </div>
                </a>
                <!-- this is the cart-->
                <i class="fa fa-shopping-cart ml-2">
                </i>
                <a class="text-dark " href="cart.html">
                    3.24€
                </a>
            </nav>
            <!--<a class="btn btn-outline-primary" href="login.html">Login</a>-->
        </div>
        <!-- NAVBAR END -->

        <div class="container">
            <div class="col-xs-12 col-sm-12 col-xs-offset-0 topadd" style="padding-top: 60px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Model.nome</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3" align="center"><img src="~/images/profile.png" class="img-circle" style="height: 200px"></div>
                            <div class="col-md-9 col-lg-9">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>e-mail</td>
                                            <td>@Model.email</td>
                                        </tr>
                                        <tr>
                                            <td>Sexo</td>
                                            <td>@Model.sexo</td>
                                        </tr>
                                        <tr>
                                            <td>Data de Nascimento</td>
                                            <td>@Model.dataNasc</td>
                                        </tr>
                                        <tr>
                                            <td>Rua</td>
                                            <td>@( @Model.rua )</td>
                                        </tr>
                                        <tr>
                                            <td>Freguesia</td>
                                            <td>@( @Model.freguesia)</td>
                                        </tr>
                                        <tr>
                                            <td>Cidade</td>
                                            <td>@( @Model.cidade )</td>
                                        </tr>
                                        <tr>
                                            <td>Código Postal</td>
                                            <td>@Model.codPostal</td>
                                        </tr>
                                        <tr>
                                            <td>Número da Porta</td>
                                            <td>@Model.numPorta</td>
                                        </tr>
                                        <tr>
                                            <td>Telemóvel</td>
                                            <td>@Model.contacto</td>
                                        </tr>
                                        <tr>
                                            <td>NIF</td>
                                            <td>@Model.NIF</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                @Html.ActionLink("Editar Informação", "EditPerfil", new { id = Model.idCli }, new { @class = "btn btn-success" })
                            </div>
                            <div class="col-3">
                                @Html.ActionLink("Efetuar Pagamentos", "PagaEncomendas", new { id = Model.idCli }, new { @class = "btn btn-success" })
                            </div>

                            <div class="col-3">
                                @Html.ActionLink("Desativar Conta", "DesativaCliente", new { id = Model.idCli }, new { @class = "btn btn-danger" })
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>



            <!--            FOOTER            -->
            <div class="container">
                <footer class="pt-4 my-md-5 pt-md-5 border-top">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-12 col-md-3">
                            <img alt="" class="mb-2" height="24" src="./images/logo.png" width="24">
                            <small class="d-block mb-3 text-muted">
                                © LI4G20
                            </small>
                            </img>
                        </div>
                        <div class="col-12 col-sm-6 col-md-5">
                            <h5>
                                Contactos
                            </h5>
                            <ul class="list-unstyled text-small">
                                <li>
                                    <a class="text-muted">
                                        253 604 448
                                    </a>
                                </li>
                                <a class="text-muted" href="mailto:geral@breadspread.pt">
                                    geral@breadspread.pt
                                </a>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <h5>
                                Como funciona
                            </h5>
                            <ul class="list-unstyled text-small">
                                <li>
                                    <a class="text-muted" href="comofunciona.html">
                                        Subscrições
                                    </a>
                                </li>
                                <li>
                                    <a class="text-muted" href="comofunciona.html">
                                        Entregas ocasionais
                                    </a>
                                </li>
                                <li>
                                    <a class="text-muted" href="comofunciona.html">
                                        Cancelar encomendas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
            <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
            </script>
            <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
            </script>
            <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
            </script>
    </body>
</html>