@model IEnumerable<BreadSpread.Models.Encomenda>

@{
    ViewBag.Title = "Percurso";
    Layout = "~/Views/Shared/_EstafetaLayout.cshtml";
}

    <script type='text/javascript'
            src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap'
            async defer></script>
    <script type='text/javascript'>
        function GetMap() {

            var coordsLat = @Html.Raw(Json.Encode(@ViewBag.coordsLat));
            var coordsLon = @Html.Raw(Json.Encode(@ViewBag.coordsLon));
            var labelEncs = @Html.Raw(Json.Encode(@ViewBag.labelEncs));

            var map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'Arf-w6Z0c3_4-bcaAuGaelwSAFWNaomV1EN1N7PG18GbR5raQUIhfeswUtFi6_Ze',
                center: new Microsoft.Maps.Location(coordsLat[0], coordsLon[0])
            });

            var center = map.getCenter();

            for (var i = 0; i < coordsLat.length; i++) {
                //Create custom Pushpin
                var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(coordsLat[i], coordsLon[i]), {
                    text: labelEncs[i].toString()
                });

                //Add the pushpin to the map
                map.entities.push(pin);
            }
        }
    </script>



        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Percurso</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Encomendas a entregar
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="myMap" style="position:relative;width:885px;height:500px;"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Dados da próxima entrega
                        </div>
                        
                        <div class="panel-body">
                            @using (Html.BeginForm("RegistaEntrega", "Realizacao", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                if (Model.Count() != 0)
                                {
                                    <div class="pull-right">
                                        <input type="hidden" name="idEnc" value=@Model.First().idEnc />
                                        <input type="submit" value="Entregue" class="btn btn-success btn-lg" />
                                    </div>
                                }
                            }

                            @if (Model.Count() != 0)
                            {
                                <h4>@Model.First().Cliente.nome</h4>
                                <p>@Model.First().rua, nº @Model.First().numPorta, @Model.First().codPostal, @Model.First().freguesia</p>
                                <p>@Model.First().idEnc</p>
                                <button type="button" class="btn btn-success btn-lg">Pagar</button>
                            }
                            else
                            {
                                <h4>Todas as entregas encontram-se realizadas!</h4>
                            }
                            @using (Html.BeginForm("CancelaEntrega", "Realizacao", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                if (Model.Count() != 0)
                                {
                                    <hr/>
                                    <div class="form-group">
                                        <label>Observações</label>
                                        @Html.TextArea("obs", new { @class = "form-control", @rows = "3" })
                                    </div>  
                                    <div class="pull-right">
                                        <input type="hidden" name="idEnc" value=@Model.First().idEnc />
                                        <input type="submit" value="Falha" class="btn btn-danger btn-lg" />
                                    </div>
                                }
                            }
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Lista de Entregas do Percurso 
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Morada</th>
                                            <th>Hora</th>
                                            <th>Encomenda #</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="odd gradeX">
                                                <th>@Html.DisplayFor(modelItem => item.Cliente.nome)</th>
                                                <th>@item.rua, nº @item.numPorta, @item.codPostal, @item.freguesia</th>
                                                <td>@Html.DisplayFor(modelItem => item.dataEnt.Hour)</td>
                                                <td>@Html.DisplayFor(modelItem => item.idEnc)</td>
                                                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    