@model BreadSpread.Models.Encomenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Encomenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataEnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataEnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.custo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.custo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idFunc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idFunc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numPorta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numPorta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freguesia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freguesia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoEnc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoEnc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataPag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataPag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modoPag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modoPag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEnc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
